<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Nombre de aplicación", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Configuración <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Aportes Parafiscales", "Index", "AporteParafiscales")</li>
                            <li>@Html.ActionLink("ARS", "Index", "Ars")</li>
                            <li>@Html.ActionLink("Asignaturas", "Index", "Asignaturas")</li>
                            <li>@Html.ActionLink("Asociaciones Privadas", "Index", "AsociacionPrivadas")</li>
                            <li>@Html.ActionLink("Calendarios", "Index", "Calendarios")</li>
                            <li>@Html.ActionLink("Capacidades Excepcionales", "Index", "CapacidadExcepcionales")</li>
                            <li>@Html.ActionLink("Cargos", "Index", "Cargos")</li>
                            <li>@Html.ActionLink("Clases Funcionarios", "Index", "ClasesFuncionarios")</li>
                            <li>@Html.ActionLink("Clasificaciones", "Index", "Clasificaciones")</li>
                            <li>@Html.ActionLink("Cursos", "Index", "Cursos")</li>
                            <li>@Html.ActionLink("Departamentos", "Index", "Departamentos")</li>
                            <li>@Html.ActionLink("Eps", "Index", "Eps")</li>
                            <li>@Html.ActionLink("Equivalencias", "Index", "Equivalencias")</li>
                            <li>@Html.ActionLink("Escalafones", "Index", "Escalafones")</li>
                            <li>@Html.ActionLink("Escalas Nacionales", "Index", "EscalaNacionales")</li>
                            <li>@Html.ActionLink("Especialidades", "Index", "Especialidades")</li>
                            <li>@Html.ActionLink("Estados Civiles", "Index", "EstadoCiviles")</li>
                            <li>@Html.ActionLink("Estratos", "Index", "Estratos")</li>
                            <li>@Html.ActionLink("Estudiantes", "Index", "Estudiantes")</li>
                            <li>@Html.ActionLink("Etnias", "Index", "Etnias")</li>
                            <li>@Html.ActionLink("Factor Rh", "Index", "FactorRhs")</li>
                            <li>@Html.ActionLink("Fuentes Recursos", "Index", "FuenteRecursos")</li>
                            <li>@Html.ActionLink("Generos Estudiantes", "Index", "GeneroEstudiantes")</li>
                            <li>@Html.ActionLink("Generos", "Index", "Generos")</li>
                            <li>@Html.ActionLink("Grados", "Index", "Grados")</li>
                            <li>@Html.ActionLink("Grupos", "Index", "Grupos")</li>
                            <li>@Html.ActionLink("Idiomas", "Index", "Idiomas")</li>
                            <li>@Html.ActionLink("Instituciones", "Index", "Instituciones")</li>
                            <li>@Html.ActionLink("Jornadas", "Index", "Jornadas")</li>
                            <li>@Html.ActionLink("Juicios", "Index", "Juicios")</li>
                            <li>@Html.ActionLink("Libretas Militares", "Index", "LibretaMilitares")</li>
                            <li>@Html.ActionLink("Materias", "Index", "Materias")</li>
                            <li>@Html.ActionLink("Metodologias", "Index", "Metodologias")</li>
                            <li>@Html.ActionLink("Municipios", "Index", "Municipios")</li>
                            <li>@Html.ActionLink("Niveles Educativos Docentes", "Index", "NivelEducativoDocentes")</li>
                            <li>@Html.ActionLink("Niveles Educativos", "Index", "NivelEducativos")</li>
                            <li>@Html.ActionLink("Nucleos", "Index", "Nucleos")</li>
                            <li>@Html.ActionLink("Parentescos", "Index", "Parentescos")</li>
                            <li>@Html.ActionLink("Periodos", "Index", "Periodos")</li>
                            <li>@Html.ActionLink("Población Victima Conflictos", "Index", "PoblacionVictimaConflictos")</li>
                            <li>@Html.ActionLink("Prestadores", "Index", "Prestadores")</li>
                            <li>@Html.ActionLink("Profesiones", "Index", "Profesiones")</li>
                            <li>@Html.ActionLink("Profesores", "Index", "Profesores")</li>
                            <li>@Html.ActionLink("Propiedades Juridicas", "Index", "PropiedadJuridicas")</li>
                            <li>@Html.ActionLink("Regimen Costos", "Index", "RegimenCostos")</li>
                            <li>@Html.ActionLink("Resguardos", "Index", "Resguardos")</li>
                            <li>@Html.ActionLink("Sedes", "Index", "Sedes")</li>
                            <li>@Html.ActionLink("Sisbenes", "Index", "Sisbenes")</li>
                            <li>@Html.ActionLink("Situaciones Academicas", "Index", "SituacionAcademicas")</li>
                            <li>@Html.ActionLink("Tarifas Anuales", "Index", "TarifaAnuales")</li>
                            <li>@Html.ActionLink("Tipos Academicos", "Index", "TipoAcademicos")</li>
                            <li>@Html.ActionLink("Tipos Caracteres", "Index", "TipoCaracteres")</li>
                            <li>@Html.ActionLink("Tipos Condiciones", "Index", "TipoCondiciones")</li>
                            <li>@Html.ActionLink("Tipos Devengos", "Index", "TipoDevengos")</li>
                            <li>@Html.ActionLink("Tipos Discapacidades", "Index", "TipoDiscapacidades")</li>
                            <li>@Html.ActionLink("Tipos Identificaciones", "Index", "TipoIdentificaciones")</li>
                            <li>@Html.ActionLink("Tipos Novedades", "Index", "TipoNovedades")</li>
                            <li>@Html.ActionLink("Tipos Respuestas", "Index", "TipoRespuestas")</li>
                            <li>@Html.ActionLink("Tipos Sectores Educaciones", "Index", "TipoSectorEducaciones")</li>
                            <li>@Html.ActionLink("Tipos Vinculaciones", "Index", "TipoVinculaciones")</li>
                            <li>@Html.ActionLink("Valoración Letras", "Index", "ValoracionLetras")</li>
                            <li>@Html.ActionLink("Zonas", "Index", "Zonas")</li>

                        </ul>
                    </li>

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
